<div class="container padding-large-bottom">
    <div class="row medium-large-full">
        <div id="searchContainer" class="search-container relative">
            <label for="searchInput" class="group-field flex flex-middle">
                <span id="searchClear" class="icon clear flex-center-middle">{{ svg('close') }}</span>
                <input type="text" id="searchInput" name="searchInput" class="search-input" autofocus autocomplete="false">
                <span class="icon search flex-center-middle">{{ svg('search') }}</span>
            </label>
        </div>
    </div>
</div>
