<div class="container padding-big-top">
    <div class="row medium-large-full">
        <h2>Versions</h2>
        {% if versions %}
            <div class="list-versions">
                {% for version in versions %}
                    <div class="wrap-version">
                        <div class="flex">
                            {% if version.update %}<div class="meta-update">{{ svg('update') }}</div>{% endif %}
                            <div class="meta-name">{{ version.name }}</div>
                        </div>
                        <div class="meta-content">{{ version.number }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
