img{
  display: block;
  max-width: 100%;
  height: auto;
}

button{
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

svg{
  width: 1em;
  height: 1em;
  fill: currentColor;
}


.relative{position: relative;}
.hidden{display: none!important;}

[class^="flex-"], [class*=" flex-"], .flex{display: flex;}
.flex-col{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-auto{flex: 1 1 auto;}
.flex-middle{align-items: center;}
.flex-center{justify-content: center;}
.flex-between{justify-content: space-between;}
.flex-end{justify-content: flex-end;}
.flex-center-middle{align-items: center;justify-content: center;}
.flex-baseline{align-items: baseline;}
.flex-self{align-self: flex-start;}
.flex-self-center{align-self: center;}

.margin-flex-top{margin-top: auto;}
.margin-flex-right{margin-right: auto;}
.margin-flex-bottom{margin-bottom: auto;}
.margin-flex-left{margin-left: auto;}


.padding{
  &-light{
    padding: .5rem;
    &-top{padding-top: .5rem}
    &-right{padding-right: .5rem}
    &-bottom{padding-bottom: .5rem}
    &-left{padding-left: .5rem}
    &-row{padding-left: .5rem; padding-right: .5rem;}
    &-col{padding-top: .5rem; padding-bottom: .5rem;}
  }
  &-medium{
    padding: 1rem;
    &-top{padding-top: 1rem}
    &-right{padding-right: 1rem}
    &-bottom{padding-bottom: 1rem}
    &-left{padding-left: 1rem}
    &-row{padding-left: 1rem; padding-right: 1rem;}
    &-col{padding-top: 1rem; padding-bottom: 1rem;}
  }
  &-large{
    padding: 2rem;
    &-top{padding-top: 2rem}
    &-right{padding-right: 2rem}
    &-bottom{padding-bottom: 2rem}
    &-left{padding-left: 2rem}
    &-row{padding-left: 2rem; padding-right: 2rem;}
    &-col{padding-top: 2rem; padding-bottom: 2rem;}
  }
  &-big{
    padding: 4rem;
    &-top{padding-top: 4rem}
    &-right{padding-right: 4rem}
    &-bottom{padding-bottom: 4rem}
    &-left{padding-left: 4rem}
    &-row{padding-right: 4rem; padding-left: 4rem;}
    &-col{padding-top: 4rem; padding-bottom: 4rem;}
  }
}

.margin{
  &-tiny{
    margin: .25rem;
    &-top{margin-top: .25rem}
    &-right{margin-right: .25rem}
    &-bottom{margin-bottom: .25rem}
    &-left{margin-left: .25rem}
    &-row{margin-right: .25rem; margin-left: .25rem;}
    &-col{margin-top: .25rem; margin-bottom: .25rem;}
  }
  &-light{
    margin: .5rem;
    &-top{margin-top: .5rem}
    &-right{margin-right: .5rem}
    &-bottom{margin-bottom: .5rem}
    &-left{margin-left: .5rem}
    &-row{margin-right: .5rem; margin-left: .5rem;}
    &-col{margin-top: .5rem; margin-bottom: .5rem;}
  }
  &-medium{
    margin: 1.5rem;
    &-top{margin-top: 1.5rem}
    &-right{margin-right: 1.5rem}
    &-bottom{margin-bottom: 1.5rem}
    &-left{margin-left: 1.5rem}
    &-row{margin-right: 1.5rem; margin-left: 1.5rem;}
    &-col{margin-top: 1.5rem; margin-bottom: 1.5rem;}
  }
  &-large{
    margin: 3rem;
    &-top{margin-top: 3rem}
    &-right{margin-right: 3rem}
    &-bottom{margin-bottom: 3rem}
    &-left{margin-left: 3rem}
    &-row{margin-right: 3rem; margin-left: 3rem;}
    &-col{margin-top: 3rem; margin-bottom: 3rem;}
  }
  &-big{
    margin: 6rem;
    &-top{margin-top: 6rem}
    &-right{margin-right: 6rem}
    &-bottom{margin-bottom: 6rem}
    &-left{margin-left: 6rem}
    &-row{margin-right: 6rem; margin-left: 6rem;}
    &-col{margin-top: 6rem; margin-bottom: 6rem;}
  }
  &-icon{
    &-left{margin-left: .5rem;}
    &-right{margin-right: .5rem;}
  }
  &-input{
    margin-top: -3px;
  }
  &-center{
    margin-left: auto;
    margin-right: auto;
  }
}

.no-margin-top{margin-top: 0!important;}
.no-margin-left{margin-left: 0!important;}
.no-margin-bottom{margin-bottom: 0!important;}
.no-margin-right{margin-right: 0!important;}
